<div class="attachment-panel">
    <RadzenCard Variant="Variant.Outlined">
        <FlexCol Style="@(Attachments.Any() ? null : "gap: 0;")">
            <RadzenUpload
                id="ddUpload"
                Icon="download_2"
                ChooseText="Anhänge hochladen"
                Auto="false"
                Multiple="true"
                Accept="*"
                Change="@Add"
                Style="width: 100%;"
            />
            <FlexCol>
                @foreach (var attachment in Attachments)
                {
                    <FlexRow @key="attachment.Name">
                        <RadzenText>@attachment.Name</RadzenText>
                        <FlexFill>
                            <RadzenTextBox Placeholder="Kommentar:" Value="@attachment.Comment" ValueChanged="@((value) => Edit(attachment with { Comment = value }))" />
                        </FlexFill>
                        <RadzenIcon Icon="download_2" @onclick="(() => Download(attachment))" />
                        <RadzenIcon Icon="delete" @onclick="(() => Remove(attachment))" />
                    </FlexRow>
                }
            </FlexCol>
        </FlexCol>
    </RadzenCard>
</div>

<script>
    function downloadFile(fileName, base64Data) {
        const blob = new Blob([Uint8Array.from(atob(base64Data), c => c.charCodeAt(0))]);
        const url = URL.createObjectURL(blob);

        const link = document.createElement('a');
        link.href = url;
        link.download = fileName;

        document.body.appendChild(link);
        link.click();

        document.body.removeChild(link);
        URL.revokeObjectURL(url);
    }
</script>
