<Dialog IsOpen="@IsOpen" IsOpenChanged="@IsOpenChanged" Title="Neues Ticket">
    <FlexCol>
        <FlexRow>
            <FlexFill>
                <RadzenTextBox Placeholder="Titel:" @oninput="@(args => Title = args.Value?.ToString() ?? string.Empty)" />
            </FlexFill>
            <TicketStatusDropDown @bind-Value="Status" />
        </FlexRow>
        <TicketSearch Placeholder="Referenz:" @bind-Value="RefTicketSearch" />
        <div>
            <RadzenLabel Text="Beschreibung:" />
            <Editor Placeholder="Beschreibung:" @bind-Value="Description" />
        </div>
        <AttachmentPanel Attachments="@Attachments" AttachmentsChanged="@AttachmentsChanged" />
        <FlexRow>
            <FlexFill />
            <RadzenButton Click="@Close">Abbrechen</RadzenButton>
            <RadzenButton Click="@Save" Disabled="@string.IsNullOrWhiteSpace(Title)">Speichern</RadzenButton>
        </FlexRow>
    </FlexCol>
</Dialog>
