@page "/checkin"
@inherits BasePage<CheckInViewModel>

<PageTitle>Stechuhr</PageTitle>

<MenuBar>
    <RadzenButton Click="@ViewModel.OpenDialog">Erstellen</RadzenButton>
    <RadzenDatePicker
        @bind-Value="ViewModel.SelectedDate"
        Change="@ViewModel.OnSelectedDateChanged"
        DateFormat="dd.MM.yyyy"
        ShowCalendarWeek
        DateRender="@DateRender"
        Style="width: 140px;"
    />
</MenuBar>

<main class="checkin">
    <CheckInDialog
        @bind-IsOpen="ViewModel.IsDialogOpen"
        Date="@ViewModel.SelectedDate"
        TypeOptions="@ViewModel.TypeOptions"
        OnSaveWorkTime="@ViewModel.SaveWorkTimeAsync"
        OnSaveAbsence="@ViewModel.SaveAbsenceAsync"
    />
    <AsyncContent IsLoading="@ViewModel.IsLoading">
        @if (ViewModel.WorkTimes.Count + ViewModel.Absences.Count == 0)
        {
            <RadzenRow>
                <RadzenColumn>
                    Keine Einträge vorhanden.
                </RadzenColumn>
            </RadzenRow>
        }
        @foreach (var workTime in ViewModel.WorkTimes)
        {
            <CheckInEntry
                Type="@WorkTimeLabels[workTime.Type]"
                Actual="@workTime.Actual"
                ActualChanged="@(actual => ViewModel.SaveWorkTimeAsync(workTime with { Actual = actual }))"
                Expected="@workTime.Expected"
                ExpectedChanged="@(expected => ViewModel.SaveWorkTimeAsync(workTime with { Expected = expected }))"
                Note="@workTime.Note"
                NoteChanged="@(note => ViewModel.SaveWorkTimeAsync(workTime with { Note = note }))"
                OnDelte="@(() => ViewModel.DeleteWorkTimeAsync(workTime))"
            />
        }
        @foreach (var absence in ViewModel.Absences)
        {
            <CheckInEntry
                Type="@AbsenceLabels[absence.Type]"
                Actual="@absence.Duration"
                ActualChanged="@(duration => ViewModel.SaveAbsenceAsync(absence with { Duration = duration }))"
                Note="@absence.Note"
                NoteChanged="@(note => ViewModel.SaveAbsenceAsync(absence with { Note = note }))"
                OnDelte="@(() => ViewModel.DeleteAbsenceAsync(absence))"
            />
        }
    </AsyncContent>
</main>
