@page "/tickets/{id:int}"
@inherits BasePage<TicketFormViewModel>

<PageTitle>Ticket #@Id</PageTitle>

<div class="ticket">
    <Body>
        <AsyncContent IsLoading="@ViewModel.IsLoading">
            <FlexCol>
                <FlexRow>
                    <FlexFill>
                        <RadzenTextBox Placeholder="Titel:" @bind-Value="ViewModel.Title" />
                    </FlexFill>
                    @if (string.IsNullOrEmpty(ViewModel.Description))
                    {
                        <RadzenIcon Icon="chat_bubble" @onclick="ViewModel.ToggleDescription" />
                    }
                    else
                    {
                        <RadzenIcon Icon="chat" @onclick="ViewModel.ToggleDescription" />
                    }
                    <span style="display: flex; cursor: pointer;" @onclick="ViewModel.OpenAttachmentsDialog">
                        <RadzenIcon Icon="attach_file" />
                        @ViewModel.Attachments.Count()
                    </span>
                    <TicketStatusDropDown @bind-Value="ViewModel.Status" />
                    @if (string.IsNullOrEmpty(ViewModel.StatusNote))
                    {
                        <RadzenIcon Icon="chat_bubble" @onclick="ViewModel.ToggleStatusNote" />
                    }
                    else
                    {
                        <RadzenIcon Icon="chat" @onclick="ViewModel.ToggleStatusNote" />
                    }
                    <RadzenIcon Icon="delete" @onclick="ViewModel.DeleteTicketAsync" />
                    <RadzenIcon Icon="alarm_on" @onclick="ViewModel.OpenWorklogsDialog" title="@TimeSpent" />
                </FlexRow>
                <FlexRow>
                    <FlexFill>
                        <TicketSearch Placeholder="Referenz:" @bind-Value="ViewModel.Ref" AllowClear />
                    </FlexFill>
                    @if (ViewModel.Ref is not null)
                    {
                        <a href="tickets/@ViewModel.Ref.Id" style="align-self: end;">
                            <RadzenIcon Icon="open_in_new" />
                        </a>
                    }
                    else
                    {
                        <RadzenIcon Icon="open_in_new" Style="opacity: .5; cursor: default;" />
                    }
                </FlexRow>
                <Accordion IsOpen="@ViewModel.ShowDescription">
                    <RadzenLabel Text="Beschreibung:" />
                    <Editor @bind-Value="ViewModel.Description" Placeholder="Beschreibung:" />
                </Accordion>
                <Accordion IsOpen="@ViewModel.ShowStatusNote">
                    <RadzenLabel Text="Anmerkung zum Status:" />
                    <Editor @bind-Value="ViewModel.StatusNote" Placeholder="Statusanmerkung:" />
                </Accordion>
            </FlexCol>
            <AttachmentsDialog
                @bind-IsOpen="ViewModel.IsOpenAttachmentsDialog"
                Title="Anhänge"
                Attachments="@ViewModel.Attachments"
                AttachmentsChanged="@ViewModel.AttachmentsChanged"
            />
            <Dialog @bind-IsOpen="ViewModel.IsOpenWorklogsDialog" Title="@TimeSpent">
                <FlexCol>
                    <RadzenButton Text="Hinzufügen" Click="() => ViewModel.SaveWorklogAsync()" Style="width: fit-content;" />
                    @foreach (var worklog in ViewModel.Worklogs)
                    {
                        <TicketFormWorklogEntry @key="worklog.Id" Worklog="@worklog" OnEdit="@ViewModel.SaveWorklogAsync" OnDelete="@(() => ViewModel.DeleteWorklogAsync(worklog))" />
                    }
                    @* leerer Editor, dient dazu die Breite vom Dialog einheitlich zu halten *@
                    <Editor style="visibility: hidden; height: 0;" />
                </FlexCol>
            </Dialog>
        </AsyncContent>
    </Body>
</div>
