@page "/ticket-board"
@inherits BasePage<TicketBoardViewModel>

<PageTitle>Tickets</PageTitle>

<div class="ticket-board">
    <Header>
        <RadzenButton Click="@ViewModel.OpenNewDialog">Erstellen</RadzenButton>
        <RadzenTextBox @bind-Value="ViewModel.Search" Placeholder="Suche:" />
        <FlexFill />
        Gesamt: @ViewModel.Tickets.Count()
    </Header>

    <Body>
        <AsyncContent IsLoading="@ViewModel.IsLoading">
            <TicketBoardLayer
                TicketGroups="@TicketGroups"
                OnEdit="@ViewModel.SaveTicketAsync"
                OnDelete="@ViewModel.DeleteTicketAsync"
            />
        </AsyncContent>
        <TicketNewDialog
            @bind-IsOpen="ViewModel.IsOpenNewDialog"
            OnSave="@ViewModel.SaveTicketAsync"
        />
    </Body>
</div>
