<FlexCol Style="gap:0;">
    <FlexRow>
        <div style="width: 50px; text-align: end; line-height: initial;">#@Ticket.Id</div>
        <FlexFill>
            <RadzenTextBox @bind-Value="Title" Placeholder="Titel:" />
        </FlexFill>
        @if (string.IsNullOrEmpty(Description))
        {
            <RadzenIcon Icon="square" @onclick="ToggleDescription" />
        }
        else
        {
            <RadzenIcon Icon="article" @onclick="ToggleDescription" />
        }
        <span style="display: flex; cursor: pointer;" @onclick="OpenAttachmentsDialog">
            <RadzenIcon Icon="attach_file" />
            @Ticket.Attachments.Count()
        </span>
        <TicketStatusDropDown @bind-Value="SelectedStatus" />
        @if (string.IsNullOrEmpty(StatusNote))
        {
            <RadzenIcon Icon="square" @onclick="ToggleStatusNote" />
        }
        else
        {
            <RadzenIcon Icon="article" @onclick="ToggleStatusNote" />
        }
        <RadzenIcon Icon="edit_square" Style="rotate: 180deg;" @onclick="NavigateToTicket" />
        <RadzenIcon Icon="delete" @onclick="OnDelete" />
    </FlexRow>
    <Accordion IsOpen="@ShowDescription">
        <Editor @bind-Value="Description" Style="margin-top: var(--rz-row-gap);" Placeholder="Beschreibung:" />
    </Accordion>
    <Accordion IsOpen="@ShowStatusNote">
        <Editor @bind-Value="StatusNote" Style="margin-top: var(--rz-row-gap);" Placeholder="Anmerkung:" />
    </Accordion>
</FlexCol>
<AttachmentsDialog
    @bind-IsOpen="IsOpenAttachmentsDialog"
    Title="@Title"
    Attachments="@Attachments"
    AttachmentsChanged="@AttachmentsChanged"
/> 
