<FlexCol Style="gap: 0;">
    <FlexRow>
        <div style="width: 50px; text-align: end; line-height: initial;">
            <a href="/tickets/@Ticket.Id">#@Ticket.Id</a>
        </div>
        <FlexFill>
            <RadzenTextBox @bind-Value="Title" Placeholder="Titel:" />
        </FlexFill>
        @if (string.IsNullOrEmpty(Description))
        {
            <RadzenIcon Icon="chat_bubble" @onclick="ToggleDescription" />
        }
        else
        {
            <RadzenIcon Icon="chat" @onclick="ToggleDescription" />
        }
        <span style="display: flex; cursor: pointer;" @onclick="OpenAttachmentsDialog">
            <RadzenIcon Icon="attach_file" />
            @Attachments.Count()
        </span>
        <TicketStatusDropDown @bind-Value="SelectedStatus" />
        @if (string.IsNullOrEmpty(StatusNote))
        {
            <RadzenIcon Icon="chat_bubble" @onclick="ToggleStatusNote" />
        }
        else
        {
            <RadzenIcon Icon="chat" @onclick="ToggleStatusNote" />
        }
        <RadzenIcon Icon="delete" @onclick="OnDelete" />
    </FlexRow>
    <Accordion IsOpen="@ShowDescription">
        <div style="margin-top: calc(var(--rz-row-gap) / 2);">
            <RadzenLabel Text="Beschreibung:" />
            <Editor @bind-Value="Description" Placeholder="Beschreibung:" />
        </div>
    </Accordion>
    <Accordion IsOpen="@ShowStatusNote">
        <div style="margin-top: calc(var(--rz-row-gap) / 2);">
            <RadzenLabel Text="Anmerkung zum Status:" />
            <Editor @bind-Value="StatusNote" Placeholder="Statusanmerkung:" />
        </div>
    </Accordion>
</FlexCol>
<AttachmentsDialog
    @bind-IsOpen="IsOpenAttachmentsDialog"
    Title="@Title"
    Attachments="@Attachments"
    AttachmentsChanged="@AttachmentsChanged"
/>
