@page "/ticket-list"
@inherits BasePage<TicketListViewModel>

<PageTitle>Tickets</PageTitle>

<div class="ticket-list">
    <Header>
        <RadzenButton Click="@ViewModel.OpenNewDialog">Erstellen</RadzenButton>
        <RadzenDropDown
            @bind-Value="ViewModel.StatusFilter"
            MaxSelectedLabels="8"
            Data="@ViewModel.StatusFilterOptions"
            ValueProperty="Key"
            TextProperty="Value"
            Placeholder="Status:"
            Chips
            Multiple
            AllowSelectAll="false"
        />
        <RadzenTextBox @bind-Value="ViewModel.Search" Placeholder="Suche:" />
        <FlexFill />
        Gesamt: @ViewModel.Page.TotalItems
    </Header>

    <Body>
        @* TODO: Dialog *@
        <AsyncContent IsLoading="@ViewModel.LoadPage">
            <FlexCol>
                @foreach (var ticket in ViewModel.Page.Items)
                {
                    <TicketListEntry Ticket="@ticket" OnEdit="@ViewModel.SaveTicketAsync" OnDelete="@(() => ViewModel.DeleteTicketAsync(ticket))" />
                }
            </FlexCol>
        </AsyncContent>
        <TicketNewDialog
            @bind-IsOpen="ViewModel.IsOpenNewDialog"
            OnSave="@ViewModel.SaveTicketAsync"
        />
    </Body>

    @if (ViewModel.Page.TotalPages > 1)
    {
        <Footer Style="justify-content: center;">
            <RadzenPager
                HorizontalAlign="HorizontalAlign.Center"
                Count="@ViewModel.Page.TotalItems"
                PageSize="@ViewModel.Page.PageSize"
                PageNumbersCount="@ViewModel.Page.TotalPages"
                PageChanged="@(args => ViewModel.PageIndex = args.PageIndex)"
                PageSizeChanged="@(size => ViewModel.PageSize = size)"
            />
        </Footer>
    }
</div>
