@page "/tracking"
@inherits BasePage<TrackingViewModel>

<PageTitle>Aufwand</PageTitle>

<div class="tracking">
    <Header>
        <RadzenButton Text="Erstellen" Click="() => ViewModel.SaveWorklogAsync()" Style="width: fit-content;" />
        <DatePicker @bind-Value="ViewModel.SelectedDate" Disabled="@(!string.IsNullOrWhiteSpace(ViewModel.Search))" />
        <RadzenTextBox @bind-Value="ViewModel.Search" Placeholder="Suche:" />
        <FlexFill />
        Gesamt: @TimeSpan.FromTicks(ViewModel.Worklogs.Sum(x => x.TimeSpent.Ticks)).ToTimeString()
    </Header>

    <Body>
        <AsyncContent>
            <FlexCol>
                @if (!ViewModel.Worklogs.Any())
                {
                    <FlexFill>
                        Keine Einträge vorhanden.
                    </FlexFill>
                }
                @foreach (var worklog in ViewModel.Worklogs)
                {
                    <TrackingEntry
                        Worklog="@worklog"
                        OnEdit="@ViewModel.SaveWorklogAsync"
                        OnDelete="@(() => ViewModel.DeleteWorklogAsync(worklog))"
                        ShowDate="@(!string.IsNullOrWhiteSpace(ViewModel.Search))"
                    />
                }
            </FlexCol>
        </AsyncContent>
    </Body>
</div>
