@page "/tracking"
@inherits BasePage<TrackingViewModel>
@inject BrandingExtension Branding

<PageTitle>@($"{Branding.TitlePrefix}Aufwand")"</PageTitle>

<div class="tracking">
    <Header>
        <RadzenButton Text="Erstellen" Click="() => ViewModel.SaveWorklogAsync()" Style="width: fit-content;" />
        <DatePicker @bind-Value="ViewModel.SelectedDate" Disabled="@(!string.IsNullOrWhiteSpace(ViewModel.Search))" />
        <RadzenTextBox @bind-Value="ViewModel.Search" Placeholder="Suche:" />
        <FlexFill />
        Gesamt: @TimeSpan.FromTicks(ViewModel.Worklogs.Sum(x => x.TimeSpent.Ticks)).ToTimeString()
    </Header>

    <Body>
        <AsyncContent IsLoading="@ViewModel.LoadWorklogs">
            <FlexCol>
                @if (!ViewModel.Worklogs.Any())
                {
                    <FlexFill>
                        Keine Einträge vorhanden.
                    </FlexFill>
                }
                @foreach (var worklog in ViewModel.Worklogs)
                {
                    <TrackingEntry
                        @key="worklog.Id"
                        Worklog="@worklog"
                        OnEdit="@ViewModel.SaveWorklogAsync"
                        OnDelete="@(() => ViewModel.DeleteWorklogAsync(worklog))"
                        ShowDate="@(!string.IsNullOrWhiteSpace(ViewModel.Search))"
                    />
                }
            </FlexCol>
        </AsyncContent>
    </Body>
</div>
